.aboutTitle {
    font-size: 7em;
    color: #F5CD54;
    text-align: center;
    font-family: header;
    padding-right: 1.3em;
}
.about {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    color: #F5CD54;
    padding-top: 2em;
}

.aboutPic {
    height: 550px;
    width: 400px;
    border-radius: 20%;
    border: 2px solid #F5CD54;
}

.textContainer {
    padding-left: 7em;
    padding-top: 2em;
}

/* .aboutPic2 {
    height: 550px;
    width: 550px;
    border-radius: 20%;
    border: 2px solid #F5CD54;
} */

