#contact {
    width: 100%;
    background-color: #EBDDC8;
    height: 31em;
}
.container {
    padding-top: 1em;
    display: flex;
}
.contactInfo {
    padding-top: 3em;
    width: 17em;
    background-color: #EBDDC8;
    height: 11em;
}

.logos {
    padding-top: 5em;
    padding-left: 1em;
}

footer {
    padding-left: 2.2em;
}