@font-face {
    src: url(./assets/fonts/NewYork.otf);
    font-family: header;
}

@font-face {
    src: url(./assets/fonts/Champagne\ &\ Limousines.ttf);
    font-family: limo;
}


.filler {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
	letter-spacing: 1px;
}

.fillerText{
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

html {
    scroll-behavior: smooth;
    }
    
body {
    background-color: black;
}

.header {
    height: 3em;
    display:  flex;
    justify-content: center;
    color: #F5CD54;
    font-family: header;
}

.nameTop {
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 32px;
    color: #F5CD54;
    letter-spacing: 3px;
  }
  
  /* Animation */
  .nameTop {
    animation: animated-text 1s steps(30,end) 1s 1 normal both;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 163px;}
  }

.jumbotron {
    background-image: url(../assets/photos/skyline.jpg);
     height: 19em;
     background-color: black;
     margin: auto;
     box-shadow: inset 0 10px 15px black;
}

.photoC{
    position: relative;
}
.profilePhoto {
    border-radius: 50%;
    height: 18em;
    width: 18em;
    box-shadow:  0 0 20px 17px black;
}

.centeredNav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: 100px 56px;
    background-color: #343A40;
    box-shadow: 0 0 20px 17px black;
    letter-spacing: 6px;
}

footer {
    width: 100%;
    height: 3em;
    text-align: center;
    font-size: 2em;
    padding-top: .5em;
    color: #F5CD54;
    text-decoration: none;
}
